@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  
}

.bg{
  background-color: #333;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-weight: 200;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 5px white;
  transition: text-shadow 0.5s;
}
.logo:hover{
  text-shadow: 0 0 15px white;
}

li, a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: 400;
  transition: color 3s;
}

a {
  padding-bottom: 3px;
  position: relative;
}
nav .nav_links li a:hover{
  color: white;
}
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ff0065;
    bottom: 0;
    left: 0;
    top: 1;
    transform-origin: middle;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  nav .nav_links li a:hover::before{
  transform-origin: middle;
  transform: scaleX(1);
}

header {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px; 
  transition: all 0.3s ease 0s;
}

button{
  padding: 0px;
}

.s{
  width: 120;
  height: 25;
  font-size: 13px;
  color: white;
  background-color: rgba(255,255,255,0.10);
  border: 1px solid #ff0065;
  border-radius: 10px;
  padding: 8px;
  border-width: 1px;
  padding-right: 25px;
  padding-left: 25px;
  text-shadow: 0px 0px 5px #ff0065;
  box-shadow: 0px 0px 5px #ff0065;
  font-family: 'Comfortaa', Calibri;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
}

.s:hover{
  box-shadow: 0px 0px 10px #ff0065;
  cursor: pointer;
  background-color: #ff0065;
  color: white;
}

.f{
  font-weight: 100;
  color: white;
  font-style: inherit;
  padding-top: 10px;
  padding-left: 80px;
  font-family: 'Montserrat', sans-serif;
}

.g{
  width: 120;
  height: 25;
  font-size: 13px;
  color: #ff0065;
  background-color: transparent;
  border-color: #ff0065;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  border-width: 1px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0px 0px 5px #ff0065;
  cursor: pointer;
  background-color: #ff0065;
  color: white;
  font-family: 'Comfortaa', Calibri;
  transition: background-color 0.5s, box-shadow 0.5s;
  margin-top: 20px;
  margin-left: 80px;
}

.g:hover{
  box-shadow: 0px 0px 20px #ff0065;
  cursor: pointer;
  background-color: #ff0065;
  color: white;
}
.d{
  padding-left: 10px;
}

#selected::before {

  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #ff0065;
  bottom: 0;
  left: 0;
  top: 1;
  transform: scaleX(1);
  color: #ff0065;
}

.testimotionals {
  width:200px;
   display:inline-block;
    margin-left:50px;
    margin-top:50px
    
  }
  
  
  .con .card {
    
    position:relative;
    overflow:hidden;
    width:200px;
    margin:0 auto;
    background:#333;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 10px 40px rgba(0,0,0,.5)
  }
  .con .card .layer {
    z-index:1;
    position:absolute;
    top:calc(100% - 2px);
    height:100%;  
    width:100%;
    left:0;
    background-image: linear-gradient(to top, #f2008b, #f60082, #fa0078, #fd006f, #ff0065);
    transition:0.5s;
    
  }
  
  .con .card .content {
    z-index:2; 
    position:relative;
  }
  
  .con .card:hover  .layer{
    top:0;
  }
  
  
  .con .card .content .image {
    width:100px; height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    
  }
  
  .con .card .content .details h2 {
  margin-top: 5px;
  font-size:18px;
  color:white;
  }
  .con .card .content .details h2 span {
  font-size:18px;
  color:#ff0065;
    transition:0.5s;
  }
  .con .card:hover .content .details h2 span {
    color:white;
    position:relative
  }
  .con .card:hover {  
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.657);
  }


  .overlay_flight_traveldil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .overlay_flight_traveldil:target {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .popup_flight_travlDil {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 385px;
    position: relative;
    transition: all 2s ease-in-out;
  }
  .popup_flight_travlDil .close_flight_travelDl {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup_flight_travlDil .content_flightht_travel_dil {
    max-height: 30%;
    overflow: hidden;
  }

  input, select, #Cnumber, #name, .button{
    padding: 5px 8px;
    margin: 5px;
    width: 150px;
    outline: none;
    border: 1px solid #6c6c6c; 
    font-size: 13px;
  }
  label{
    font-size: 13px;
  }
  .button{
    border: 1px solid #333; 
    background-color: #333;
    color: white;
    transition: all 0.15s;
  }
  .button:hover{
    background-color: white;
    color: #333;
  }
  .button:active{
    background-color: #333;
    color: white;
  }
  input:hover, select:hover, #Cnumber:hover, #name:hover{
    box-shadow: 0px 0px 5px #333;
  }
  input::placeholder{
    font-style: italic;
    font-size: 13px;
  }
  .pop{
    width: 100%;
  }
  button a{
    transition: all 0.15s;
  }
  button a:hover{
    color: #333;
  }

  @media (max-width: 500px){
    .popup_flight_travlDil {
      width: 350px;
    }
    .successContainer{
      widows: 350px;
    }

    input, select, #Cnumber, #name, .button{
      width: 120px;
    }
  }
